.centro{
  display: grid;
  grid-columns: auto;
  justify-content: center;
  justify-items: center;
  align-items: center;

}
.chip-rosa {
  background-color: #FFE2E3;
  color: #FF3FBF;
  display: inline-flex;
  align-items: center;
  border-radius: 20px;
  padding: 3px 10px;
  font-size: 12px;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 0;
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.5);
  white-space: nowrap;
}

.imagen-producto{
  display: flex;
  border-radius: 15px;
}

