<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar imagen</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cerrar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="subir-imagen">
    <ion-icon name="cloud-upload-outline"></ion-icon>
    <h3>Subir imágenes del producto</h3>
    <p>Selecciona una o varias imágenes desde tu dispositivo.</p>

    <label class="boton-subir">
      Elegir imágenes
      <input
        type="file"
        accept="image/*"
        multiple
        hidden
        (change)="seleccionarArchivo($event)">
    </label>

    @if (subiendo) {
      <ion-spinner name="crescent"></ion-spinner>
      <p>Subiendo imágenes...</p>
    }
  </div>
</ion-content>
