<div class="modal-handle-bar"></div>

<div class="modal-header">
  <span class="modal-title">Seleccionar imagen</span>
  <button class="modal-close-btn" (click)="close()">
    <ion-icon name="close"></ion-icon>
  </button>
</div>

<div class="modal-body">
  <ion-icon name="cloud-upload-outline" class="upload-icon"></ion-icon>
  <h3>Subir imágenes del producto</h3>
  <p>Selecciona una o varias imágenes desde tu dispositivo.</p>

  <label class="boton-subir">
    Elegir imágenes
    <input
      type="file"
      accept="image/*"
      multiple
      hidden
      (change)="seleccionarArchivo($event)">
  </label>

  @if (subiendo) {
    <ion-spinner name="crescent"></ion-spinner>
    <p>Subiendo imágenes...</p>
  }
</div>
