<ion-card class="info-card">
  <ion-grid>
    <h2 class="section-title">Tipo de oferta</h2>

    <ion-row>
      <div class="botones-seleccion">
        <button class="seg-btn"
          [style.background]="tipoOferta === 'intercambio' ? '#ffd6e0' : 'transparent'"
          [style.color]="tipoOferta === 'intercambio' ? '#ff3f84' : '#7a7a7a'"
          (click)="seleccionarTipo('intercambio')"><b>Intercambio</b></button>
        <button class="seg-btn"
          [style.background]="tipoOferta === 'prestamo' ? '#d6e8ff' : 'transparent'"
          [style.color]="tipoOferta === 'prestamo' ? '#3f6bff' : '#7a7a7a'"
          (click)="seleccionarTipo('prestamo')"><b>Prestamo</b></button>
      </div>
    </ion-row>

    <ion-row>
      <div class="fecha-row">
        <button (click)="abrirFechaModal()" class="btn-fecha">
          <ion-icon size="large" name="calendar-number"></ion-icon>
          <span class="margen">{{ fechaDevolucion ? (fechaDevolucion | date:'dd/MM/yy') : 'Devolucion' }}</span>
        </button>

        <button *ngIf="tipoOferta === 'prestamo'" class="btn-precio">
          <input
            class="interior-precio"
            placeholder="euros/dia"
            type="number"
            [(ngModel)]="precio"
            (input)="onPrecioChange($event)">
        </button>
      </div>
    </ion-row>

  </ion-grid>
</ion-card>
