<ion-header class="bordes-redondeados fondo">
  <ion-toolbar class="menu-superior fondo">
    <ion-grid>
      <ion-row class="caja-menu-sup">
        <h1 class="margen izquierda"><b>Tendencias</b></h1>
      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="fondo toolbar-cats">
    <div class="cats-row">
      @for (cat of categorias; track cat.label) {
        <button class="cat-pill"
          [style.background]="categoriaFiltro() === cat.label ? cat.solid : cat.alpha"
          [style.color]="categoriaFiltro() === cat.label ? '#fff' : cat.solid"
          (click)="seleccionarCategoria(cat.label)">
          {{ cat.label }}
        </button>
      }
    </div>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="onRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-outline"
      refreshingSpinner="crescent">
    </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col class="sin-margen">
        @for(pro of productosFiltrados(); track pro.productoId){
          @if(pro.productoId !== undefined && pro.productoId !== null){
            <app-carta-home-intercambio
              [producto]="pro"
              [routerLink]="['/anuncio', pro.productoId]"
              class="contenedor-cartas"/>
          }
        }
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
