.info-card {
  border-radius: 16px;

  margin: 10px 16px 0;
}
.tallas-container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.talla-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* button con el mismo look que ion-chip */
.talla-chip {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e1ecff;
  color: #2c49ff;
  width: 3rem;
  height: 2rem;
  font-weight: 600;
  font-size: 14px;
  font-family: inherit;
  border-radius: 999px;
  border: none;
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.5);
  cursor: pointer;
}

.talla-chip-editable {
  border: 1.5px dashed #2c49ff;
}
