<ion-card class="info-card">
  <ion-card-header>
    <ion-card-title>{{ esMiPerfil ? 'Mis tallas' : 'Tallas' }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="tallas-container">
      <div class="talla-item">
        <p>Camiseta</p>
        <button
          class="talla-chip"
          [class.talla-chip-editable]="esMiPerfil"
          (click)="elegirTalla('tCamiseta')">
          {{ usuario()?.tCamiseta || '-' }}
        </button>
      </div>

      <div class="talla-item">
        <p>Pantalon</p>
        <button
          class="talla-chip"
          [class.talla-chip-editable]="esMiPerfil"
          (click)="elegirTalla('tPantalon')">
          {{ usuario()?.tPantalon || '-' }}
        </button>
      </div>

      <div class="talla-item">
        <p>Calzado</p>
        <button
          class="talla-chip"
          [class.talla-chip-editable]="esMiPerfil"
          (click)="elegirTalla('tCalzado')">
          {{ usuario()?.tCalzado || '-' }}
        </button>
      </div>
    </div>
  </ion-card-content>
</ion-card>
