<div class="card margen-lateral" (click)="irAPerfil()">
  <div class="card-row">

    <div class="col-avatar">
      <img [src]="usuario?.urlImg || 'assets/icon/card-media.png'" class="avatar" alt="Foto user"/>
    </div>

    <div class="col-texto">
      <p class="texto">{{usuario?.nombre}} {{usuario?.apellidos}}</p>
      <div class="meta-row">
        <ion-icon class="estrella-color" name="star"></ion-icon>
        <span class="margen-left">{{usuario?.raiting ?? 0}}</span>
        <ion-icon class="margen-icono" name="location-outline"></ion-icon>
        <span class="margen-left loc-text">{{usuario?.direccion}}</span>
      </div>
    </div>

    <div class="col-boton">
      <button
        [class]="seguido ? 'boton boton-seguido' : 'boton boton-rosa'"
        (click)="$event.stopPropagation(); toggleSeguir($event)"
        [disabled]="isOwnProfile || !usuario?.id">
        <ion-icon [name]="seguido ? 'person-remove-outline' : 'person-add-outline'"></ion-icon>
        {{ seguido ? 'Seguido' : 'Seguir' }}
      </button>
    </div>

  </div>
</div>
