<ion-card class="info-card">
  
    <h2 class="section-title" style="margin-top: 2px; margin-bottom: 8px;">Detalles</h2>
  

  <div class="card-body" style="padding: 0 16px 16px;">

    <!-- CATEGORÍA -->
    <div class="section">
      <span class="subsec-label">Categoría</span>
      <div class="chip-group">
        <button
          class="chip-item chip-rosa"
          *ngFor="let cat of categorias"
          [class.selected]="categoriaSeleccionada === cat"
          (click)="seleccionarUnico('categoria', cat)"
        >{{ cat }}</button>
        <button class="chip-item chip-add-rosa" (click)="abrirMenuExtra('categoria')">
          <ion-icon class="icono-rosa" name="add-outline"></ion-icon>
        </button>
      </div>
    </div>

    <!-- TALLA -->
    <div class="section">
      <span class="subsec-label">Talla</span>
      <div class="chip-group">
        <button
          class="chip-item chip-azul"
          *ngFor="let talla of tallas"
          [class.selected]="tallaSeleccionada === talla"
          (click)="seleccionarUnico('talla', talla)"
        >{{ talla }}</button>
      </div>
    </div>

    <!-- ESTADO -->
    <div class="section">
      <span class="subsec-label">Estado</span>
      <div class="chip-group">
        <button
          class="chip-item chip-rosa"
          *ngFor="let est of estados"
          [class.selected]="estadoSeleccionado === est"
          (click)="seleccionarUnico('estado', est)"
        >{{ est }}</button>
      </div>
    </div>

    <!-- COLOR -->
    <div class="section">
      <span class="subsec-label">Color</span>
      <div class="chip-group">
        <button
          class="chip-item chip-azul"
          *ngFor="let col of colores"
          [class.selected]="coloresSeleccionados.includes(col)"
          (click)="toggleSeleccion(coloresSeleccionados, col, 'color')"
        >{{ col }}</button>
        <button class="chip-item chip-add-azul" (click)="abrirMenuExtra('color')">
          <ion-icon class="icono-azul" name="add-outline"></ion-icon>
        </button>
      </div>
    </div>

    <!-- ESTILO -->
    <div class="section">
      <span class="subsec-label">Estilo</span>
      <div class="chip-group">
        <button
          class="chip-item chip-rosa"
          *ngFor="let est of estilos"
          [class.selected]="estilosSeleccionados.includes(est)"
          (click)="toggleSeleccion(estilosSeleccionados, est, 'estilo')"
        >{{ est }}</button>
        <button class="chip-item chip-add-rosa" (click)="abrirMenuExtra('estilo')">
          <ion-icon class="icono-rosa" name="add-outline"></ion-icon>
        </button>
      </div>
    </div>

  </div>
</ion-card>
