<ion-header class="bordes-redondeados fondo">
  <ion-toolbar class="menu-superior fondo">
    <ion-grid>

      <ion-row class="caja-menu-sup">
        <ion-col>
          <h1 class="izquierda"><b>Explorar</b></h1>
        </ion-col>

        <ion-col class="derecha">
          <ion-icon style="font-size: 45px;" name="options-outline"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="searchbar-wrapper">
    <ion-searchbar style="--border-radius: 30px;" placeholder="Buscar prenda"
      (ionInput)="busqueda.set($event.detail.value ?? '')"></ion-searchbar>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col>
        @for(pro of productosFiltrados(); track pro.id){
          @if(pro.id !== undefined && pro.id !== null){
            <app-carta-horizontal-intercambio
              [producto]="pro"
              [routerLink]="['/anuncio', pro.id]"
              class="contenedor-cartas"/>
          }
        }
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
