<ion-card class="info-card fondo">

  <h2 class="section-title">Opciones</h2>

  <ion-card-content>
    <ion-grid>
      <ion-col class="separacion">
        <ion-row>
          <div (click)="cerrarSesion()" [routerLink]="['/login']">
            <ion-button fill="clear" class="sin-margen">
              <ion-icon class="rojo" size="large" name="exit-outline"></ion-icon>
              <b class="margen">Cerrar sesión</b>
            </ion-button>
          </div>
        </ion-row>
      </ion-col>
    </ion-grid>
  </ion-card-content>

</ion-card>
