<ion-header>
  <ion-toolbar>
    <ion-title>Seleccionar foto de perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="subir-imagen">
    <ion-icon name="image-outline"></ion-icon>
    <h3>Subir foto de perfil</h3>
    <p>Selecciona una imagen desde tu dispositivo.</p>

    <label class="boton-subir">
      Elegir imagen
      <input
        type="file"
        accept="image/*"
        hidden
        (change)="seleccionarArchivo($event)">
    </label>

    <ion-spinner *ngIf="subiendo" name="crescent"></ion-spinner>
    <p *ngIf="subiendo">Subiendo imagen...</p>
  </div>
</ion-content>
