.info-card {
  border-radius: 16px;

  margin: 10px 5px 0px;
}

.izquierda{
  display: flex;
  justify-content: left;
  align-items: start;
  justify-items: start;
}
.section {
  margin-bottom: 20px;
}

.chip-group {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

/* span con look de ion-chip rosa */
.chip-rosa {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
  background-color: #FFE2E3;
  color: #FF3FBF;
  font-weight: 600;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(96, 95, 95, 0.3);
}

.btn-close {
  background: none;
  border: none;
  color: #FF3FBF;
  font-size: 16px;
  cursor: pointer;
  padding: 0;
  display: flex;
  align-items: center;
}

/* button con look de ion-chip gris (añadir) */
.chip-add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0 12px;
  height: 32px;
  border-radius: 16px;
  background-color: #f1f1f1;
  color: #555;
  font-size: 20px;
  border: none;
  cursor: pointer;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
