<ion-card class="info-card fondo">
  <ion-card-header>
    <ion-card-title>{{ esMiPerfil ? 'Mi estilo' : 'Estilo' }}</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    <div class="section">
      <div class="chip-group">
        <span class="chip-rosa" *ngFor="let est of estilosSeleccionados">
          {{ est }}
          <button *ngIf="esMiPerfil" class="btn-close" (click)="eliminarEstilo(est)">
            <ion-icon name="close-circle"></ion-icon>
          </button>
        </span>

        <button *ngIf="esMiPerfil" class="chip-add" (click)="agregarEstilo()">
          <ion-icon name="add-outline"></ion-icon>
        </button>
      </div>
    </div>
  </ion-card-content>
</ion-card>

<ion-action-sheet
  [isOpen]="asOpen"
  [header]="asHeader"
  [buttons]="asButtons"
  (didDismiss)="asOpen = false">
</ion-action-sheet>
