<ion-header class="fondo bordes-redondeados">
  <ion-toolbar class="menu-superior fondo">
    <ion-grid>

      <ion-row class="caja-menu-sup">

        <ion-col size="2" >
          <ion-button fill="clear" (click)="volver()" >
            <ion-icon size="large" name="arrow-back-outline"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col>
          <h2 class="titulo"><b>Favoritos</b></h2>
        </ion-col>

        <ion-col size="2" class="derecha">
          <ion-icon style="font-size: 28px;" name="heart"></ion-icon>
        </ion-col>

      </ion-row>
    </ion-grid>
  </ion-toolbar>

  <ion-toolbar class="fondo">
    <ion-grid>
      <ion-row>
        <ion-col>
          <div class="botones-seleccion">
            <button class="seg-btn"
              [style.background]="segmentoSeleccionado === 'intercambios' ? '#C6DFFF' : 'transparent'"
              [style.color]="segmentoSeleccionado === 'intercambios' ? '#3F42FF' : '#7a7a7a'"
              (click)="segmentoSeleccionado = 'intercambios'">Intercambios</button>
            <button class="seg-btn"
              [style.background]="segmentoSeleccionado === 'prestamos' ? '#FFE2E3' : 'transparent'"
              [style.color]="segmentoSeleccionado === 'prestamos' ? '#FF3FBF' : '#7a7a7a'"
              (click)="segmentoSeleccionado = 'prestamos'">Préstamos</button>
          </div>
        </ion-col>
      </ion-row>

      <ion-row class="centro">
        <ion-col>
          <ion-searchbar
            class="barra"
            placeholder="Buscar producto"
            [(ngModel)]="busqueda">
          </ion-searchbar>
        </ion-col>
      </ion-row>

    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        @for(pro of productosFiltrados; track pro.id){
          @if(pro.id !== undefined && pro.id !== null){
            <app-carta-horizontal-intercambio
              [producto]="pro"
              [routerLink]="['/anuncio', pro.id]"
              class="contenedor-cartas"/>
          }
        }

        <div class="estado-vacio" *ngIf="productosFiltrados.length === 0">
          <ion-icon name="heart-outline"></ion-icon>
          <h3>No hay favoritos</h3>
          <p>No tienes productos favoritos en esta sección.</p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
